<%= simple_form_for(@asset) do |f| %>
  <%= f.error_notification %>
  <div>
    <%= f.file_field :uploaded_file %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Upload' %>
  </div>
<% end %>
