<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Drop Clone</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <% if user_signed_in? %>
            <p class='button tiny disabled radius round'><%= current_user.email  %></p>
            |
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:'button tiny alert' %>
        <% else %>
            <em class='button tiny'>Not Signed in.</em>
            <%= link_to 'Sign in', new_user_session_path, class:'button tiny'%>
            or
            <%= link_to 'Sign up', new_user_registration_path, class:'button tiny'%>
        <% end %>
    </ul>
  </section>
</nav>
